<div class="front">

  <div id="front-1" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale0.jpg" alt="Chorale">
    <div class="front-img-text">
      <p>wow</p>
    </div>
  </div>

  <div id="front-2" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale2.jpg" alt="Chorale2">
    <div class="front-img-text">
      <p>qu'ils sont beaux</p>
    </div>
  </div>

  <div id="front-3" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale3.jpg" alt="Chorale3">
    <div class="front-img-text">
      <p>damn it</p>
    </div>
  </div>

  <div id="front-4" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale6.jpg" alt="Chorale6">
    <div class="front-img-text">
      <p>so sexy</p>
    </div>
  </div>

  <div id="front-5" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale7.jpg" alt="Chorale7">
    <div class="front-img-text">
      <p>Meilleur chorale du 62</p>
    </div>
  </div>
  <div id="front-6" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale8.jpg" alt="Chorale8">
    <div class="front-img-text">
      <p>meilleurs que quéant</p>
    </div>
  </div>
  <div id="front-7" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale4.jpg" alt="Chorale4">
    <div class="front-img-text">
      <p>au top</p>
    </div>
  </div>
  <div id="front-8" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale5.jpg" alt="Chorale5">
    <div class="front-img-text">
      <p>si beaux</p>
    </div>
  </div>
<div class="presentation">
  <h1>Presentation</h1>
  <p>Coup de choeur est une association premièrement fondée
  par la volontée de créer une chorale. Elle est super stylée, et sa chef de
  choeur encore plus.</p>
</div>


</div>
