
<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="choarle">La chorale</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li *ngIf="isAuth">
        <a>Connected as {{user}}</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
-->


<nav class="navbar navbar-default" id="navbar">
  <div class="navbar" id="navbarNav">
    <ul class="navbar-nav">

<!--
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" href="#">Chorale</a>
      </li>
-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chorale</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="chorale">Accueil</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="navbar-brand" routerLink="/">
          <img id="logo" src="assets/images/logo.png" alt="logo">
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chansons d'Avril</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="chansonsdavril">Accueil</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>


    </ul>
  </div>
</nav>
