<div class="front">

  <div id="front-1" class="front-container">
    <img class="front-img" src="assets/photos/bossone/bossone1.jpg" alt="Bossone">
    <div class="front-img-text">
      <p>Jérémie Bossone</p>
    </div>
  </div>

  <div id="front-2" class="front-container">
    <img class="front-img" src="assets/photos/technique/technique1.jpg" alt="technique">
    <div class="front-img-text">
      <p>Les plus beaux techos du monde</p>
    </div>
  </div>

  <div id="front-3" class="front-container">
    <img class="front-img" src="assets/photos/frasiak/frasiak1.jpg" alt="Frasiak">
    <div class="front-img-text">
      <p>Eric Frasiak (sans z s'il vous plait)</p>
    </div>
  </div>

  <div id="front-4" class="front-container">
    <img class="front-img" src="assets/photos/govrache/govrache1.jpg" alt="Govrache">
    <div class="front-img-text">
      <p>Govrache</p>
    </div>
  </div>

  <div id="front-5" class="front-container">
    <img class="front-img" src="assets/photos/cello/cello1.jpg" alt="Cello">
    <div class="front-img-text">
      <p>Cello Woman</p>
    </div>
  </div>
  <div id="front-6" class="front-container">
    <img class="front-img" src="assets/photos/davidsire/davidsire5.jpg" alt="David">
    <div class="front-img-text">
      <p>David Sire et Cerf Badin</p>
    </div>
  </div>
  <div id="front-7" class="front-container">
    <img class="front-img" src="assets/photos/vincent/vincent1.jpg" alt="Vincent">
    <div class="front-img-text">
      <p>Vincent Delbushaye</p>
    </div>
  </div>
  <div id="front-8" class="front-container">
    <img class="front-img" src="assets/photos/samuel/samuel1.jpg" alt="Samuel">
    <div class="front-img-text">
      <p>Samuel Leroy et son orchestre</p>
    </div>
  </div>
<div class="presentation">
  <h1>Presentation</h1>
  <p>Chansons d'Avril c'est un poisson d'Avril, mais avec des chansons pour
  les pieds.</p>
</div>


</div>
