$img-width: device-width;


.front-img{
  transition: opacity 1s;
  width: inherit;
  height: 100%;
}

.front-container{
  position: relative;
  width: 100%;
}

#front-left{
  grid-row: 1;
  grid-column: 1;
}

#front-right{
  grid-row: 1;
  grid-column: 2;
}

.front-img-text{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}

.front-img:hover{
  opacity: 0.6;
}

.front{
  display: grid;
  grid-template-columns: 2;
  justify-content:space-around;
  align-items: stretch;
}
