<div class="front">

  <div id="front-left" class="front-container">
    <img class="front-img" src="assets/photos/chorale/chorale0.jpg" alt="Chorale">
    <div class="front-img-text">
      <p>Chorale</p>
    </div>
  </div>

  <div id="front-right" class="front-container">
    <img class="front-img" src="assets/photos/davidsire/davidsire8.jpg" alt="DavidSire">
    <div class="front-img-text">
      <p>Chansons d'Avril</p>
    </div>
  </div>

</div>

<div class="text2">
  <div class="dancing-letter" *ngFor="let item of text_array;">
    {{item}}
    <div class="space" *ngIf="item===' '"></div>
  </div>
</div>
