#navbar{
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.navbar-brand{
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link{
  margin-left: 10px;
  margin-right: 10px;
}
